<app-title title="Defer Triggers" />

<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2" />

  @defer (on interaction) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>On Interaction</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <!-- Evento que responde cuando se realiza un click en el div -->
  <div class="w-full h-20 bg-purple-100">Click en el div</div>
  }
</section>

<section>
  <hr class="my-2" />

  <button
    #btnInteraction
    class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2"
  >
    Click Me!
  </button>

  @defer (on interaction( btnInteraction )) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>On Interaction</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <!-- Evento que responde cuando se realiza un click en el div -->
  <div class="w-full h-20 bg-purple-100">Placeholder Div</div>
  }
</section>

<section>
  <hr class="my-2" />

  @defer (on hover( btnInteraction )) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>On Interaction</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <!-- Evento que responde cuando se realiza un click en el div -->
  <div class="w-full h-20 bg-purple-100">Placeholder Div</div>
  }
</section>

<section>
  <hr class="my-2" />

  <!-- este sucede nada mas que se cargue la pagina -->
  @defer (on immediate) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>On Interaction</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <!-- Evento que se dispara inmediatamente se carga la pagina -->
  <div class="w-full h-20 bg-purple-100">Placeholder Div</div>
  }
</section>

<section>
  <hr class="my-2" />

  <!-- este sucede despues de haber pasado 2 segundos -->
  @defer (on timer(2000)) {
  <app-heavy-loaders-fast cssClass="bg-green-500 h-20">
    <span>On Timer</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <!-- Evento que responde al cbo de los 2 segundos -->
  <div class="w-full h-20 bg-purple-100">2 segundos</div>
  }
</section>

<section>
  <hr class="my-2" />

  <!-- prefetching permite cargar el codigo js para cuando sea el momento de construirlo -->
  @defer (on hover; prefetch on idle) {
  <app-heavy-loaders-fast cssClass="bg-green-500 h-20">
    <span>On Hover, idle</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <!-- Evento que responde cuando se realiza un click en el div -->
  <div class="w-full h-20 bg-purple-100">Hover</div>
  }
</section>
